{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    [
      "transform-runtime",
      {"polyfill": false, "regenerator": true}
    ],
    [
      "babel-plugin-transform-builtin-extend", {
      globals: ["Error", "Array"]
    }]
  ]
}
